<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Research Project</title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<!-- Local CSS -->
		<link rel="stylesheet" href="./scripts/style.css">
	</head>
	<body>
		<!-- Bootstap JS Dependances -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<!-- Bootstrap JS -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
		<!-- SocketIO -->
		<script src="/socket.io/socket.io.js"></script>
		<!-- Client Code -->
		<script src="./scripts/script.js"></script>

		<!-- Webpage -->
		<div class="container-fluid text-center">
			<h1 id="connected_message">NOT CONNECTED</h1>

			<img src="./images/Slide.jpg" class="img-fluid" />

			<div class="card card-body fixed-bottom" style="width: 15rem;">
				<div id="lobbyMenuDisconnected">
					<div id="createLobby">
						<div class="input-group">
							<span class="input-group-text">Lobby ID: </span>
							<input id="lobbyIDInput" class="form-control" type="text" placeholder="Lobby ID" />
						</div>
						<div class="input-group">
							<span class="input-group-text">Max Users: </span>	
							<input id="maxUsersInput" class="form-control" type="number" value="1" min="1" />
						</div>
						<div class="input-group">
							<span class="input-group-text">Private Lobby: </span>	
							<input id="isPrivateLobby" class="form-control" type="checkbox">
						</div>
						<button type="button" class="btn btn-primary btn-lg btn-block" onclick="createLobbyOnClick()">Create Lobby</button>
					</div>
					<hr />
					<button id="findLobby" type="button" class="btn btn-primary btn-lg btn-block" onclick="findLobbyOnClick()">Connect To Random Lobby</button>
					<hr />
					<div id="findLobbyByID">
						<input id="lobbyIDSearchInput" class="form-control" type="text" placeholder="Lobby ID" />
						<button type="button" class="btn btn-primary btn-lg btn-block" onclick="findLobbyByIDOnClick()">Connect To Lobby</button>
					</div>
				</div>
				<hr />
				<div id="lobbyMenuConnected">
					<button id="disconnect" type="button" class="btn btn-primary btn-lg btn-block" onclick="disconnectOnClick()">Disconnect From Lobby</button>
				</div>
			</div>
		</div>

		<div id="cursors"></div>
	</body>
</html>